*.vsidx
Torres_de_Hanoi/.vs/VSWorkspaceState.json
Torres_de_Hanoi/.vs/Torres_de_Hanoi.slnx/v18/DocumentLayout.json
Torres_de_Hanoi/.vs/Torres_de_Hanoi.slnx/v18/.wsuo
Torres_de_Hanoi/.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/torres_de_Hanoi.slnx/v18/DocumentLayout.json
.vs/torres_de_Hanoi.slnx/v18/DocumentLayout.backup.json
.vs/torres_de_Hanoi.slnx/v18/.wsuo
.vs/torres_de_Hanoi.slnx/FileContentIndex/18d19baa-41e9-418a-9683-af25e8312231.vsidx
.vs/slnx.sqlite

.vs/Torres_de_Hanoi/CopilotIndices/18.3.502.33069/CodeChunks.db

.vs/Torres_de_Hanoi/CopilotIndices/18.3.502.33069/CodeChunks.db-shm

.vs/Torres_de_Hanoi/CopilotIndices/18.3.502.33069/CodeChunks.db-wal

.vs/Torres_de_Hanoi/CopilotIndices/18.3.502.33069/SemanticSymbols.db

.vs/Torres_de_Hanoi/CopilotIndices/18.3.502.33069/SemanticSymbols.db-shm

.vs/Torres_de_Hanoi/CopilotIndices/18.3.502.33069/SemanticSymbols.db-wal

.vs/ProjectSettings.json

Torres_de_Hanoi/obj/Debug/Torres_de_Hanoi.csproj.FileListAbsolute.txt

Torres_de_Hanoi/Pila.cs

.vs/torres_de_Hanoi.slnx/v18/
